<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.username.label }}: {{ form.username() }}<br>
        {{ form.password.label }}: {{ form.password() }}<br>
        {{ form.submit() }}
    </form>
    <a href="{{url_for('user.register')}}">register</a>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector('input[value="Login"]').addEventListener('click', async function (e) {
                const formData = new FormData(this.form);
                e.preventDefault();

                try {
                    const response = await fetch("{{url_for('user.login')}}", {
                        method: "POST",
                        body: formData,
                    });

                    if (!response.ok) {
                        throw new Error(`HTTPエラー: ${await response.text()}`);
                    }

                    const data = await response.json();
                    console.log("サーバーからのレスポンス:", data);

                    if (data.user.username) {
                        console.log("ログイン成功:", data);
                        window.location.href = "{{url_for('user.home')}}";
                    } else {
                        console.error("ログイン失敗:", data);
                    }

                } catch (err) {
                    console.error("送信エラー:", err);
                }
            });
        });
    </script>
</body>

</html>